<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>500 Error</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	
	<div class="container-fluid">
  		<div class="header">
			<div class="alert alert-danger" role="alert">
	  			
	  			<h2>Maaf, Data tidak ditemukan !</h2>
	  			
			</div>
			<a style="margin-left:10px;"th:href="@{'/'}" class="previous">&laquo; Back To Home</a>
		</div>
	</div>
</body>
</html>