<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script src="/js/top.js"></script>
	
	<style>
	a{
	color:white;
	}
	
	a:hover{
	background-color:white;
	}
	
	
	.icon-bar {
  color: white;
  border-color: white;
  background-color: white;
	}
	
	.container-fluidd{
	width: 80%;
	padding: 1rem;
	margin-left: auto;
  	margin-right: auto;
  	padding-bottom: 3rem;
  	background-color: white;
}
	body{
	/* The image used */
    background-image: url("bg.jpg");
    background-repeat: repeat;
    background-size: 90%; 
    background-attachment: fixed;
}
	
	</style>
</head>
<body>

<nav class="navbar navbar-fixed-top" style="background-color:#32c69a;" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar" 	></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>   
                             
      </button>
      <a class="navbar-brand" href="#">Farmasi</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active" ><a href="#" >Home</a></li>
        <li><a th:href="@{/medical-supplies/}" >Lihat Medical Supplies</a></li>
        <li><a th:href="@{/medical-supplies/tambah}" >Tambah Medical Supplies</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li><span style="color:white;padding-top:12px;font-size:16px;"class="glyphicon glyphicon-user" th:text="' Hello, '+${#httpServletRequest.remoteUser}"></span></p>
       </li>
     
        <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
      </ul>

    </div>
  </div>
</nav>
<br>
<br>

<div class="container-fluidd">
<br>
<div th:switch="${message}">
		<div th:case="'Success'">
			 <div class="alert alert-success alert-dismissible fade in">
			    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			    <strong>Success!</strong> Akun Baru Berhasil ditambahkan.
			  </div>
		</div>
		
		<div th:case="'Failed'">
			 <div class="alert alert-danger alert-dismissible fade in">
			    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			    <strong>Invalid!</strong> Sudah terdapat akun dengan username ini.
  		</div>
		</div>
	</div>
<hr class="">
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
        	<h1 id="text-nama" class="nav-link" th:text="'Hello, '+${#httpServletRequest.remoteUser}+ ' !'">Login as</h1>
          
			<div th:switch="${user.role}">
				<div th:case="'Kepala Farmasi'">    
          			<button data-toggle="modal" data-target="#modalTambah" type="button" class="btn btn-warning">
		           Tambah Akun
		           </button>
		         </div>
		         
		         <div th:case="'Admin Farmasi'">    
          			<button data-toggle="modal" data-target="#modalTambah" type="button" class="btn btn-warning">
		           Tambah Akun
		           </button>
		         </div>
		      </div>
           
       
           
           
<br>
        </div>
      <div class="col-sm-2"><a href="/users" class="pull-sright"><img title="profile image" class="img-circle img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBG685vI07-3MsuqJxjCfzIabfFJJG-8yM-ppvjjNpD5QNtWNE4A"></a>

        </div>
    </div>
  <br>
  <br>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Name: </strong></span> <p th:text="${#httpServletRequest.remoteUser}"></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Role:  </strong></span><p th:text=" ${user.role}"/></li>
                
            </ul>
            <form th:action="@{/medical-supplies/tambah}" method ="GET">
            <div class="panel panel-default">

             <div class="panel-heading"><b>Tambah Medical Supplies</b>

                </div>
                <div class="panel-body"><i>Fitur ini membantu Anda menambah medical supplies</i>
                <div class="panel-body"><button type="submit" class="btn btn-info">Tambah</button>

				</button>
				</div>
                </div>
            </div>
            </form>
         </div>
        <div  class="col-sm-9" contenteditable="false">
         <form th:action="@{/medical-supplies/jadwal-staf/tambah}" method ="GET">
           <div class="panel panel-default">
                <div class="panel-heading"><b>Membuat Jadwal Staf Apoteker Jaga</b></div>
                <div class="panel-body"> Fitur ini membantu Anda membuat jadwal staf apoteker jaga
                <br><button type="submit" class="btn btn-primary">Create </button>

                </div>
                </div>
                </form>
         </form>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false"><b>Lihat Layanan Tersedia</b></div>
                <div class="panel-body">
                  <div class="row">
                <form th:action="@{/medical-supplies/}" method ="GET">
					<div class="col-md-4">
						<div class="thumbnail">
							<img alt="300x200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqIl7q2HQdQlDIs5WEcJQnP5l3cGuVSxh0ahZ4WOI0gA23pYgzfg">
							<div class="caption">
								<h3>
									Lihat Daftar Medical Supplies 
								</h3>
								<p>
									Fitur untuk melihat seluruh daftar medical supplies yang tersedia.
								</p>
								<p>
	
								</p>
							</div>
							<button type="submit" class="btn btn-primary" style="width:100%;"> Lihat </button><br>	<br>
						</div>
						
					</div>
				</form>
				<form th:action="@{/medical-supplies/permintaan/}" method ="GET">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="https://images.agoramedia.com/everydayhealth/gcms/What-You-Need-to-Know-About-Taking-Medications-if-You-Have-Psoriatic-Arthritis-RM-1440x810.jpg?width=722">
						<div class="caption">
							<h3>
								Lihat Daftar Permintaan
							</h3>
							<p>
								Fitur ini menampilkan daftar permintaan medical supplies yang diminta oleh SI Rawat Inap
							</p>
							<p>

							</p>
						</div>
						<button type="submit" class="btn btn-primary" style="width:100%;"> Lihat </button><br>	<br>
					</div>
				</div>
				</form>
				<form th:action="@{/medical-supplies/jadwal-staf/}" method ="GET">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="https://assets.nhs.uk/prod/images/C0097883.2e16d0ba.fill-920x613.jpg">
						<div class="caption">
							<h3>
								Lihat Jadwal Staff Apoteker Jaga
							</h3>
							<p>
								Fitur ini menampilkan jadwal staf apoteker jaga
							</p>
							<p>

							</p>
						</div>
						<button type="submit" class="btn btn-primary" style="width:100%;"> Lihat </button><br>	<br>
                </div>

            </div>
            </form>

            </div>

        </div>

    </div>
   
</div>
</div>

</div>
	
</div>

<div class="modal fade" id="modalTambah" tabindex="-1" role="dialog" aria-labelledby="modalTambahCenterTitle" aria-hidden="true">
							  <div class="modal-dialog modal-dialog-centered" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h3 class="modal-title" id="exampleModalLongTitle">Tambah Akun</h3>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <form th:action="@{/user/addUser}"  method=POST>
							      	<div class="modal-body">
							      	  <div class="form-group">
									    <label for="inputNamaMedSupp">Username</label>
									    <input type="text" class="form-control" name="username"  
									    placeholder="Masukkan Username" required>
									  </div>
							          <div class="form-group">
									    <label for="inputJumlahMedSupp">Password</label>
									    <input type="password" class="form-control" 
									    placeholder="Masukkan Password" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" 
                        		title="Must contain at least one number and at least 8 or more characters" required name="password"/>
									  </div>
									  
									   <div th:switch="${user.role}">
										  <div th:case="'Kepala Farmasi'">
						   		
										  <div class="form-group">
										    <label for="inputJumlahMedSupp">Role</label>
										    <input type="text" class="form-control" value="Admin Farmasi"name="role" 
										    placeholder="Masukkan Role" readonly>
										  </div>
										  </div>
										  
										  <div th:case="'Admin Farmasi'">
										  <div class="form-group">
										    <label for="inputJumlahMedSupp">Role</label>
										    <input type="text" class="form-control" value="Staff Apoteker"name="role" 
										    placeholder="Masukkan Role" readonly>
										  </div>
										  </div>
										</div>
								    </div>
								    <div class="modal-footer">
								        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
								        <button type="submit" class="btn btn-primary">Save changes</button>
								    </div>
							      </form>
							    </div>
							  </div>
							</div>

</body>
<a id="back-to-top"  href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
</html>