<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:replace="fragments/fragment :: title">Jadwal Jaga ubah</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
    <form th:action="@{/medical-supplies/jadwal-staf/}" th:object="${jadwalJaga}" method="post">
        <input type="hidden" th:field="*{id}">
        <br><br><br>
        Pilih tanggal jaga:<br>
        <input required type="date" th:field="*{tanggal}" ><br>

        Pilih jam jaga:<br>

        Mulai: <br>
        <input type="time" required th:value="*{waktuMulai}" name="waktuMulaiField" id="waktuMulai"><br>

        Selesai:<br>
        <input type="time" required th:value="*{waktuSelesai}" name="waktuSelesaiField" id="waktuSelesai" ><br>

        Pilih staf jaga:<br>
        <select id="staf" name="staf">
            <div th:if="${stafJagaSekarang!=null}">
                <option  th:value="${stafJagaSekarang.id}" th:text="${stafJagaSekarang.nama}" selected="selected" >-- Pilih staf --</option>

            </div>
            <div th:unless="${stafJagaSekarang!=null}">
                <option  th:value="${staffList[0].id}" th:text="${staffList[0].nama}" selected="selected" >-- Pilih staf --</option>
            </div>
            <option th:each="staf : ${staffList}"
                    th:value="${staf.id}"
                    th:text="${staf.nama}"></option>
        </select>

        <br><br>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</body>
</html>