<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: title" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>

	</head>
	
	<body>
	
		<nav th:replace="fragments/fragment :: navbar"></nav>
		

		
		<div class="container">
			<div class="header">
				<div class="row">
					<div class="col-sm-12">
						<h1>Daftar Perencanaan Medical Supplies</h1>		
					</div>
				</div>
			</div>
			
			<hr>
			
			
			<table id="list-all-perencanaan" class="table table-striped table-bordered" style="width:100%">
			       <thead>
			           <tr>
			           		<th>Nama</th>
							<th>Status</th>
							<div th:if="${user == 'Admin Farmasi'}">
							     <th>Ganti Status</th>
							</div>
							<th>Tanggal</th>
							<th>Jumlah</th>
							
			           </tr>
			       </thead>
			       <tbody>
			           <tr th:each="plan : *{listPlan}">
						<td th:text="${plan.medicalSupplies.nama}"></td>
						
						<td>
							<div th:switch="${plan.status}">
								
							    <div th:case="'diajukan'" class="alert alert-warning">
							        <center>diajukan</center>
							    </div>
							    <div th:case="'diproses'" class="alert alert-info">
							        <center>diproses</center>
							    </div>
							    <div th:case="'tersedia'" class="alert alert-success">
							        <center>tersedia</center>
							    </div>
							</div>
						
						</td>
						
						<div th:if="${user == 'Admin Farmasi'}">
						     <td>
								<form th:action="@{/medical-supplies/perencanaan/ganti-status}" method="POST">
									<input type="hidden" name="id" th:value="${plan.id}" >
									<input type="hidden" name="jumlah" th:value="${plan.jumlah}" >
									<select name="status" class="form-control">
									    <option th:each="status : ${statusPlan}" th:value="${status}" th:text="${status}" th:selected="${status == plan.status}" />
									</select>
									
									<button class="btn btn-dark" type="submit">Ubah</button>		
								</form>				
							</td>
						</div>
						<td th:text="${plan.tanggal}"></td>
						<td th:text="${plan.jumlah}"></td>
						
						</tr>
			       </tbody>
			</table>
			
			
			
		
		</div>
		
		
		<script type="text/javascript">
		$(document).ready(function () {
		    $("#home").addClass("active");
		    $('#list-all-perencanaan').DataTable();
		    $("#provinsi").change(function () {

	            $.getJSON("/medical-supplies/perencanaan/ganti-status", {
	                provinsiId : $(this).val(),
	                ajax : 'true'
	            }, function(data) {
	                var html = '';
	                var len = data.length;
	                for ( var i = 0; i < len; i++) {
	                    html += '<option value="' + data[i].id + '">'
	                            + data[i].nama + '</option>';
	                }
	                html += '';
	                console.log("berhasil");
	                $('#instansi').html(html);
	            });
		    }); 
		        
		});
		
		
		
		</script>
		
			
	</body>
</html>