<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:replace="fragments/fragment :: title"></title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>

<!--main-->
<div class="container-fluid">
  <div class="header">
    <div class="row">
      <div class="col-sm-12">
        <h1>Daftar Medical Supplies</h1>
      </div>
    </div>
  </div>
  <hr>
  <br>
  <table id="list-all-medical-supplies" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Nama</th>
     			<th>Jumlah</th>
     			<th>Harga</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="medSupp : ${listMedSupplies}">
                <td><a th:href="@{'/medical-supplies/' + ${medSupp.id}}" th:text="${medSupp.nama}"></a></td>
     			<td th:text="${medSupp.jumlah}"></td>
     			<td th:text="${medSupp.price}"></td>
            </tr>
        </tbody>
	</table>
</div>
<script>
	$(document).ready(function() {
	    $('#list-all-medical-supplies').DataTable();
	} );
</script>
</body>
</html>