<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:replace="fragments/fragment :: title"></title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>

<!--main-->
<div class="container-fluid">
  <div class="header">
    <div class="row">
      <div class="col-sm-12">
        <h1>Daftar Medical Supplies</h1>
      </div>
    </div>
  </div>
  <hr>
  <p style="margin-bottom: 10px;">Tambah Inventaris ke SI Rawat Jalan</p>
  <!-- Button trigger modal -->
	<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalTambah">
	  Tambah
	</button>

	<!-- Modal tambah inventaris SI rawat jalan -->
	<div class="modal fade" id="modalTambah" tabindex="-1" role="dialog" aria-labelledby="modalTambahCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Tambah Inventaris</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form th:action="@{/rawat-jalan/obat/tambah}" th:object="${medSupp}" method=POST>
	      	<div class="modal-body">
	      	  <div class="form-group">
			    <label for="inputNamaMedSupp">Nama</label>
			    <input type="text" class="form-control" name="nama" id="inputNamaMedSupp" 
			    placeholder="Masukkan Nama Medical Supplies" required>
			  </div>
	          <div class="form-group">
			    <label for="inputJumlahMedSupp">Jumlah</label>
			    <input type="number" class="form-control" name="jumlah" id="inputJumlahMedSupp" 
			    placeholder="Masukkan Jumlah Medical Supplies" required>
			  </div>
		    </div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-dark">Save changes</button>
		    </div>
	      </form>
	    </div>
	  </div>
	</div>
  <br>
  <p style="margin-bottom: 10px;">Tambah Perencanaan</p>
  <!-- Button trigger modal -->
	<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalTambahPerencanaan">
	  Buat Perencanaan
	</button>
	<!-- Modal tambah perencanaan -->
	<div class="modal fade" id="modalTambahPerencanaan" tabindex="-1" role="dialog" aria-labelledby="modalTambahCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Buat Perencanaan</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form th:action="@{/medical-supplies/perencanaan/tambah}" th:object="${perencanaan}" method="POST">
	      	<div class="modal-body">
	      		<input type="hidden" class="form-control" name="tanggal" th:field="*{tanggal}">
	      	  <div class="form-group">
			    <label for="medical-supplies">Medical Supplies</label>
				<select class="form-control" name="medicalSupplies">
				    <option th:each="med : ${medicalSupPerencanaan}" th:value="${med.id}" th:text="${med.nama}" />
				</select>"D:/STS/tutorial6_1606831224"
			  </div>
	          <div class="form-group">
			    <label for="jumlah">Jumlah</label>
				<input type="text" class="form-control" name="jumlah" required>
			  </div>
		    </div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-dark">Save changes</button>
		    </div>
	      </form>
	      
	      
	    </div>
	  </div>
	</div>
  <br>
  <br>
  <table id="list-all-medical-supplies" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Nama</th>
     			<th>Jumlah</th>
     			<th>Harga</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="medSupp : ${listMedSupplies}">
                <td><a th:href="@{'/medical-supplies/' + ${medSupp.id}}" th:text="${medSupp.nama}"></a></td>
     			<td th:text="${medSupp.jumlah}"></td>
     			<td th:text="${medSupp.price}"></td>
            </tr>
        </tbody>
	</table>
</div>
<script>
	$(document).ready(function() {
	    $('#list-all-medical-supplies').DataTable();
	} );
</script>
</body>
</html>